In [1]:
from pydataset import data
from scipy import stats
import env
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
import acquire
import prepare
import warnings

# number 4

In [2]:
df_iris = data('iris')

In [3]:
df_iris.head(3) #first 3 rows

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [4]:
df_iris.shape #shape of df rows x columns

(150, 5)

In [5]:
df_iris.dtypes #column data type/

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

In [6]:
df_iris.describe() #summary statistics

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

# Number 5

In [7]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'

In [8]:
csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

df_google = pd.read_csv(csv_export_url)
df_google.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:

print(df_google.shape)
print(df_google.info())
print(df_google.describe())
df_google.head(3)

(891, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [10]:
df_google.nunique()

PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64

# Number 6

In [11]:
df_excel = pd.read_excel('train.xlsx', sheet_name='train') #call for one argument (sheet)

In [12]:
df_excel_sample = df_excel.head(100)

In [13]:
df_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [14]:
df_excel_sample.shape

(100, 12)

In [15]:
df_excel.shape[0] #amount of rows only

891

In [16]:
df_excel.columns[0:5] #print specific columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex'], dtype='object')

In [17]:
df_excel.columns[0:5].to_list()

['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex']

In [18]:
df_excel.select_dtypes(include= 'object').columns.tolist() #column names that have object as value

['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

In [19]:
int_cols = df_excel.select_dtypes(include= [int])
float_cols = df_excel.select_dtypes(include= [float])

In [20]:
float_cols

      Age     Fare
0    22.0   7.2500
1    38.0  71.2833
2    26.0   7.9250
3    35.0  53.1000
4    35.0   8.0500
..    ...      ...
886  27.0  13.0000
887  19.0  30.0000
888   NaN  23.4500
889  26.0  30.0000
890  32.0   7.7500

[891 rows x 2 columns]

In [21]:
df3=pd.concat([int_cols, float_cols],axis=1,join='inner')

In [22]:
col_ranges = df3.max() - df3.min()

In [23]:
col_ranges #calculated ranges for every numeric columns

PassengerId    890.0000
Survived         1.0000
Pclass           2.0000
SibSp            8.0000
Parch            6.0000
Age             79.5800
Fare           512.3292
dtype: float64

In [24]:
import acquire

In [25]:
acquire.get_titanic_data() #function created to get titanic data

,Unnamed: 0,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,886,0,2,male,27.0,0,0,13.0000,S,Second,NaN,Southampton,1
887,887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,888,0,3,female,NaN,1,2,23.4500,S,Third,NaN,Southampton,0
889,889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,890,0,3,male,32.0,0,0,7.7500,Q,Third,NaN,Queenstown,1

In [26]:
acquire.get_iris_data()

,Unnamed: 0,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_id,species_id.1,species_name
0,0,1,5.1,3.5,1.4,0.2,1,1,setosa
1,1,2,4.9,3.0,1.4,0.2,1,1,setosa
2,2,3,4.7,3.2,1.3,0.2,1,1,setosa
3,3,4,4.6,3.1,1.5,0.2,1,1,setosa
4,4,5,5.0,3.6,1.4,0.2,1,1,setosa
5,5,6,5.4,3.9,1.7,0.4,1,1,setosa
6,6,7,4.6,3.4,1.4,0.3,1,1,setosa
7,7,8,5.0,3.4,1.5,0.2,1,1,setosa
8,8,9,4.4,2.9,1.4,0.2,1,1,setosa
9,9,10,4.9,3.1,1.5,0.1,1,1,setosa
10,10,11,5.4,3.7,1.5,0.2,1,1,setosa
11,11,12,4.8,3.4,1.6,0.2,1,1,setosa
12,12,13,4.8,3.0,1.4,0.1,1,1,setosa
13,13,14,4.3,3.0,1.1,0.1,1,1,setosa
14,14,15,5.8,4.0,1.2,0.2,1,1,setosa
15,15,16,5.7,4.4,1.5,0.4,1,1,setosa
16,16,17,5.4,3.9,1.3,0.4,1,1,setosa
17,17,18,5.1,3.5,1.4,0.3,1,1,setosa
18,18,19,5.7,3.8,1.7,0.3,1,1,setosa
19,19,20,5.1,3.8,1.5,0.3,1,1,setosa
20,20,21,5.4,3.4,1.7,0.2,1,1,setosa
21,21,22,5.1,3.7,1.5,0.4,1,1,setosa
22,22,23,4.6,3.6,1.0,0.2,1,1,setosa
23,23,24,5.1,3.3,1.7,0.5,1,1,setosa
24,24,25,4.8,3.4,1.9,0.2,1,1,setosa
25,25,26,5.0,3.0,1.6,0.2,1,1,setosa
26,26,27,5.0,3.4,1.6,0.4,1,1,setosa
27,27,28,5.2,3.5,1.5,0.2,1,1,setosa
28,28,29,5.2,3.4,1.4,0.2,1,1,setosa
29,29,30,4.7,3.2,1.6,0.2,1,1,setosa
30,30,31,4.8,3.1,1.6,0.2,1,1,setosa
31,31,32,5.4,3.4,1.5,0.4,1,1,setosa
32,32,33,5.2,4.1,1.5,0.1,1,1,setosa
33,33,34,5.5,4.2,1.4,0.2,1,1,setosa
34,34,35,4.9,3.1,1.5,0.2,1,1,setosa
35,35,36,5.0,3.2,1.2,0.2,1,1,setosa
36,36,37,5.5,3.5,1.3,0.2,1,1,setosa
37,37,38,4.9,3.6,1.4,0.1,1,1,setosa
38,38,39,4.4,3.0,1.3,0.2,1,1,setosa
39,39,40,5.1,3.4,1.5,0.2,1,1,setosa
40,40,41,5.0,3.5,1.3,0.3,1,1,setosa
41,41,42,4.5,2.3,1.3,0.3,1,1,setosa
42,42,43,4.4,3.2,1.3,0.2,1,1,setosa
43,43,44,5.0,3.5,1.6,0.6,1,1,setosa
44,44,45,5.1,3.8,1.9,0.4,1,1,setosa
45,45,46,4.8,3.0,1.4,0.3,1,1,setosa
46,46,47,5.1,3.8,1.6,0.2,1,1,setosa
47,47,48,4.6,3.2,1.4,0.2,1,1,setosa
48,48,49,5.3,3.7,1.5,0.2,1,1,setosa
49,49,50,5.0,3.3,1.4,0.2,1,1,setosa
50,50,51,7.0,3.2,4.7,1.4,2,2,versicolor
51,51,52,6.4,3.2,4.5,1.5,2,2,versicolor
52,52,53,6.9,3.1,4.9,1.5,2,2,versicolor
53,53,54,5.5,2.3,4.0,1.3,2,2,versicolor
54,54,55,6.5,2.8,4.6,1.5,2,2,versicolor
55,55,56,5.7,2.8,4.5,1.3,2,2,versicolor
56,56,57,6.3,3.3,4.7,1.6,2,2,versicolor
57,57,58,4.9,2.4,3.3,1.0,2,2,versicolor
58,58,59,6.6,2.9,4.6,1.3,2,2,versicolor
59,59,60,5.2,2.7,3.9,1.4,2,2,versicolor
60,60,61,5.0,2.0,3.5,1.0,2,2,versicolor
61,61,62,5.9,3.0,4.2,1.5,2,2,versicolor
62,62,63,6.0,2.2,4.0,1.0,2,2,versicolor
63,63,64,6.1,2.9,4.7,1.4,2,2,versicolor
64,64,65,5.6,2.9,3.6,1.3,2,2,versicolor
65,65,66,6.7,3.1,4.4,1.4,2,2,versicolor
66,66,67,5.6,3.0,4.5,1.5,2,2,versicolor
67,67,68,5.8,2.7,4.1,1.0,2,2,versicolor
68,68,69,6.2,2.2,4.5,1.5,2,2,versicolor
69,69,70,5.6,2.5,3.9,1.1,2,2,versicolor
70,70,71,5.9,3.2,4.8,1.8,2,2,versicolor
71,71,72,6.1,2.8,4.0,1.3,2,2,versicolor
72,72,73,6.3,2.5,4.9,1.5,2,2,versicolor
73,73,74,6.1,2.8,4.7,1.2,2,2,versicolor
74,74,75,6.4,2.9,4.3,1.3,2,2,versicolor
75,75,76,6.6,3.0,4.4,1.4,2,2,versicolor
76,76,77,6.8,2.8,4.8,1.4,2,2,versicolor
77,77,78,6.7,3.0,5.0,1.7,2,2,versicolor
78,78,79,6.0,2.9,4.5,1.5,2,2,versicolor
79,79,80,5.7,2.6,3.5,1.0,2,2,versicolor
80,80,81,5.5,2.4,3.8,1.1,2,2,versicolor
81,81,82,5.5,2.4,3.7,1.0,2,2,versicolor
82,82,83,5.8,2.7,3.9,1.2,2,2,versicolor
83,83,84,6.0,2.7,5.1,1.6,2,2,versicolor
84,84,85,5.4,3.0,4.5,1.5,2,2,versicolor
85,85,86,6.0,3.4,4.5,1.6,2,2,versicolor
86,86,87,6.7,3.1,4.7,1.5,2,2,versicolor
87,87,88,6.3,2.3,4.4,1.3,2,2,versicolor
88,88,89,5.6,3.0,4.1,1.3,2,2,versicolor
89,89,90,5.5,2.5,4.0,1.3,2,2,versicolor
90,90,91,5.5,2.6,4.4,1.2,2,2,versicolor
91,91,92,6.1,3.0,4.6,1.4,2,2,versicolor
92,92,93,5.8,2.6,4.0,1.2,2,2,versicolor
93,93,94,5.0,2.3,3.3,1.0,2,2,versicolor
94,94,95,5.6,2.7,4.2,1.3,2,2,versicolor
95,95,96,5.7,3.0,4.2,1.2,2,2,versicolor
96,96,97,5.7,2.9,4.2,1.3,2,2,versicolor
97,97,98,6.2,2.9,4.3,1.3,2,2,versicolor
98,98,99,5.1,2.5,3.0,1.1,2,2,versicolor
99,99,100,5.7,2.8,4.1,1.3,2,2,versicolor
100,100,101,6.3,3.3,6.0,2.5,3,3,virginica
101,101,102,5.8,2.7,5.1,1.9,3,3,virginica
102,102,103,7.1,3.0,5.9,2.1,3,3,virginica
103,103,104,6.3,2.9,5.6,1.8,3,3,virginica
104,104,105,6.5,3.0,5.8,2.2,3,3,virginica
105,105,106,7.6,3.0,6.6,2.1,3,3,virginica
106,106,107,4.9,2.5,4.5,1.7,3,3,virginica
107,107,108,7.3,2.9,6.3,1.8,3,3,virginica
108,108,109,6.7,2.5,5.8,1.8,3,3,virginica
109,109,110,7.2,3.6,6.1,2.5,3,3,virginica
110,110,111,6.5,3.2,5.1,2.0,3,3,virginica
111,111,112,6.4,2.7,5.3,1.9,3,3,virginica
112,112,113,6.8,3.0,5.5,2.1,3,3,virginica
113,113,114,5.7,2.5,5.0,2.0,3,3,virginica
114,114,115,5.8,2.8,5.1,2.4,3,3,virginica
115,115,116,6.4,3.2,5.3,2.3,3,3,virginica
116,116,117,6.5,3.0,5.5,1.8,3,3,virginica
117,117,118,7.7,3.8,6.7,2.2,3,3,virginica
118,118,119,7.7,2.6,6.9,2.3,3,3,virginica
119,119,120,6.0,2.2,5.0,1.5,3,3,virginica
120,120,121,6.9,3.2,5.7,2.3,3,3,virginica
121,121,122,5.6,2.8,4.9,2.0,3,3,virginica
122,122,123,7.7,2.8,6.7,2.0,3,3,virginica
123,123,124,6.3,2.7,4.9,1.8,3,3,virginica
124,124,125,6.7,3.3,5.7,2.1,3,3,virginica
125,125,126,7.2,3.2,6.0,1.8,3,3,virginica
126,126,127,6.2,2.8,4.8,1.8,3,3,virginica
127,127,128,6.1,3.0,4.9,1.8,3,3,virginica
128,128,129,6.4,2.8,5.6,2.1,3,3,virginica
129,129,130,7.2,3.0,5.8,1.6,3,3,virginica
130,130,131,7.4,2.8,6.1,1.9,3,3,virginica
131,131,132,7.9,3.8,6.4,2.0,3,3,virginica
132,132,133,6.4,2.8,5.6,2.2,3,3,virginica
133,133,134,6.3,2.8,5.1,1.5,3,3,virginica
134,134,135,6.1,2.6,5.6,1.4,3,3,virginica
135,135,136,7.7,3.0,6.1,2.3,3,3,virginica
136,136,137,6.3,3.4,5.6,2.4,3,3,virginica
137,137,138,6.4,3.1,5.5,1.8,3,3,virginica
138,138,139,6.0,3.0,4.8,1.8,3,3,virginica
139,139,140,6.9,3.1,5.4,2.1,3,3,virginica
140,140,141,6.7,3.1,5.6,2.4,3,3,virginica
141,141,142,6.9,3.1,5.1,2.3,3,3,virginica
142,142,143,5.8,2.7,5.1,1.9,3,3,virginica
143,143,144,6.8,3.2,5.9,2.3,3,3,virginica
144,144,145,6.7,3.3,5.7,2.5,3,3,virginica
145,145,146,6.7,3.0,5.2,2.3,3,3,virginica
146,146,147,6.3,2.5,5.0,1.9,3,3,virginica
147,147,148,6.5,3.0,5.2,2.0,3,3,virginica
148,148,149,6.2,3.4,5.4,2.3,3,3,virginica
149,149,150,5.9,3.0,5.1,1.8,3,3,virginica

In [27]:
acquire.get_telco_data()

,Unnamed: 0,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service_type_id,...,streaming_movies,contract_type_id,paperless_billing,payment_type_id,monthly_charges,total_charges,churn,internet_service_type,contract_type,payment_type
0,0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,1,...,No,2,Yes,2,65.60,593.3,No,DSL,One year,Mailed check
1,1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,1,...,Yes,1,No,2,59.90,542.4,No,DSL,Month-to-month,Mailed check
2,2,0004-TLHLJ,Male,0,No,No,4,Yes,No,2,...,No,1,Yes,1,73.90,280.85,Yes,Fiber optic,Month-to-month,Electronic check
3,3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,2,...,Yes,1,Yes,1,98.00,1237.85,Yes,Fiber optic,Month-to-month,Electronic check
4,4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,2,...,No,1,Yes,2,83.90,267.4,Yes,Fiber optic,Month-to-month,Mailed check
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,7038,9987-LUTYD,Female,0,No,No,13,Yes,No,1,...,No,2,No,2,55.15,742.9,No,DSL,One year,Mailed check
7039,7039,9992-RRAMN,Male,0,Yes,No,22,Yes,Yes,2,...,Yes,1,Yes,1,85.10,1873.7,Yes,Fiber optic,Month-to-month,Electronic check
7040,7040,9992-UJOEL,Male,0,No,No,2,Yes,No,1,...,No,1,Yes,2,50.30,92.75,No,DSL,Month-to-month,Mailed check
7041,7041,9993-LHIEB,Male,0,Yes,Yes,67,Yes,No,1,...,Yes,3,No,2,67.85,4627.65,No,DSL,Two year,Mailed check
7042,7042,9995-HOTOH,Male,0,Yes,Yes,63,No,No phone service,1,...,Yes,3,No,1,59.00,3707.6,No,DSL,Two year,Electronic check

# Data Preperation

In [28]:
df = acquire.get_iris_data()

In [29]:
df.shape

(150, 9)

In [30]:
df.head()

,Unnamed: 0,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_id,species_id.1,species_name
0,0,1,5.1,3.5,1.4,0.2,1,1,setosa
1,1,2,4.9,3.0,1.4,0.2,1,1,setosa
2,2,3,4.7,3.2,1.3,0.2,1,1,setosa
3,3,4,4.6,3.1,1.5,0.2,1,1,setosa
4,4,5,5.0,3.6,1.4,0.2,1,1,setosa

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      150 non-null    int64
 1   measurement_id  150 non-null    int64
 2   sepal_length    150 non-null    float64
 3   sepal_width     150 non-null    float64
 4   petal_length    150 non-null    float64
 5   petal_width     150 non-null    float64
 6   species_id      150 non-null    int64
 7   species_id.1    150 non-null    int64
 8   species_name    150 non-null    object
dtypes: float64(4), int64(4), object(1)
memory usage: 10.7+ KB

In [32]:
df.describe()

,Unnamed: 0,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_id,species_id.1
count,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000,150.000000
mean,74.500000,75.500000,5.843333,3.057333,3.758000,1.199333,2.000000,2.000000
std,43.445368,43.445368,0.828066,0.435866,1.765298,0.762238,0.819232,0.819232
min,0.000000,1.000000,4.300000,2.000000,1.000000,0.100000,1.000000,1.000000
25%,37.250000,38.250000,5.100000,2.800000,1.600000,0.300000,1.000000,1.000000
50%,74.500000,75.500000,5.800000,3.000000,4.350000,1.300000,2.000000,2.000000
75%,111.750000,112.750000,6.400000,3.300000,5.100000,1.800000,3.000000,3.000000
max,149.000000,150.000000,7.900000,4.400000,6.900000,2.500000,3.000000,3.000000

In [33]:
df = df.drop_duplicates()

In [34]:
df.drop(columns = ['species_id', 'measurement_id'], inplace = True)

In [35]:
df

,Unnamed: 0,sepal_length,sepal_width,petal_length,petal_width,species_id.1,species_name
0,0,5.1,3.5,1.4,0.2,1,setosa
1,1,4.9,3.0,1.4,0.2,1,setosa
2,2,4.7,3.2,1.3,0.2,1,setosa
3,3,4.6,3.1,1.5,0.2,1,setosa
4,4,5.0,3.6,1.4,0.2,1,setosa
5,5,5.4,3.9,1.7,0.4,1,setosa
6,6,4.6,3.4,1.4,0.3,1,setosa
7,7,5.0,3.4,1.5,0.2,1,setosa
8,8,4.4,2.9,1.4,0.2,1,setosa
9,9,4.9,3.1,1.5,0.1,1,setosa
10,10,5.4,3.7,1.5,0.2,1,setosa
11,11,4.8,3.4,1.6,0.2,1,setosa
12,12,4.8,3.0,1.4,0.1,1,setosa
13,13,4.3,3.0,1.1,0.1,1,setosa
14,14,5.8,4.0,1.2,0.2,1,setosa
15,15,5.7,4.4,1.5,0.4,1,setosa
16,16,5.4,3.9,1.3,0.4,1,setosa
17,17,5.1,3.5,1.4,0.3,1,setosa
18,18,5.7,3.8,1.7,0.3,1,setosa
19,19,5.1,3.8,1.5,0.3,1,setosa
20,20,5.4,3.4,1.7,0.2,1,setosa
21,21,5.1,3.7,1.5,0.4,1,setosa
22,22,4.6,3.6,1.0,0.2,1,setosa
23,23,5.1,3.3,1.7,0.5,1,setosa
24,24,4.8,3.4,1.9,0.2,1,setosa
25,25,5.0,3.0,1.6,0.2,1,setosa
26,26,5.0,3.4,1.6,0.4,1,setosa
27,27,5.2,3.5,1.5,0.2,1,setosa
28,28,5.2,3.4,1.4,0.2,1,setosa
29,29,4.7,3.2,1.6,0.2,1,setosa
30,30,4.8,3.1,1.6,0.2,1,setosa
31,31,5.4,3.4,1.5,0.4,1,setosa
32,32,5.2,4.1,1.5,0.1,1,setosa
33,33,5.5,4.2,1.4,0.2,1,setosa
34,34,4.9,3.1,1.5,0.2,1,setosa
35,35,5.0,3.2,1.2,0.2,1,setosa
36,36,5.5,3.5,1.3,0.2,1,setosa
37,37,4.9,3.6,1.4,0.1,1,setosa
38,38,4.4,3.0,1.3,0.2,1,setosa
39,39,5.1,3.4,1.5,0.2,1,setosa
40,40,5.0,3.5,1.3,0.3,1,setosa
41,41,4.5,2.3,1.3,0.3,1,setosa
42,42,4.4,3.2,1.3,0.2,1,setosa
43,43,5.0,3.5,1.6,0.6,1,setosa
44,44,5.1,3.8,1.9,0.4,1,setosa
45,45,4.8,3.0,1.4,0.3,1,setosa
46,46,5.1,3.8,1.6,0.2,1,setosa
47,47,4.6,3.2,1.4,0.2,1,setosa
48,48,5.3,3.7,1.5,0.2,1,setosa
49,49,5.0,3.3,1.4,0.2,1,setosa
50,50,7.0,3.2,4.7,1.4,2,versicolor
51,51,6.4,3.2,4.5,1.5,2,versicolor
52,52,6.9,3.1,4.9,1.5,2,versicolor
53,53,5.5,2.3,4.0,1.3,2,versicolor
54,54,6.5,2.8,4.6,1.5,2,versicolor
55,55,5.7,2.8,4.5,1.3,2,versicolor
56,56,6.3,3.3,4.7,1.6,2,versicolor
57,57,4.9,2.4,3.3,1.0,2,versicolor
58,58,6.6,2.9,4.6,1.3,2,versicolor
59,59,5.2,2.7,3.9,1.4,2,versicolor
60,60,5.0,2.0,3.5,1.0,2,versicolor
61,61,5.9,3.0,4.2,1.5,2,versicolor
62,62,6.0,2.2,4.0,1.0,2,versicolor
63,63,6.1,2.9,4.7,1.4,2,versicolor
64,64,5.6,2.9,3.6,1.3,2,versicolor
65,65,6.7,3.1,4.4,1.4,2,versicolor
66,66,5.6,3.0,4.5,1.5,2,versicolor
67,67,5.8,2.7,4.1,1.0,2,versicolor
68,68,6.2,2.2,4.5,1.5,2,versicolor
69,69,5.6,2.5,3.9,1.1,2,versicolor
70,70,5.9,3.2,4.8,1.8,2,versicolor
71,71,6.1,2.8,4.0,1.3,2,versicolor
72,72,6.3,2.5,4.9,1.5,2,versicolor
73,73,6.1,2.8,4.7,1.2,2,versicolor
74,74,6.4,2.9,4.3,1.3,2,versicolor
75,75,6.6,3.0,4.4,1.4,2,versicolor
76,76,6.8,2.8,4.8,1.4,2,versicolor
77,77,6.7,3.0,5.0,1.7,2,versicolor
78,78,6.0,2.9,4.5,1.5,2,versicolor
79,79,5.7,2.6,3.5,1.0,2,versicolor
80,80,5.5,2.4,3.8,1.1,2,versicolor
81,81,5.5,2.4,3.7,1.0,2,versicolor
82,82,5.8,2.7,3.9,1.2,2,versicolor
83,83,6.0,2.7,5.1,1.6,2,versicolor
84,84,5.4,3.0,4.5,1.5,2,versicolor
85,85,6.0,3.4,4.5,1.6,2,versicolor
86,86,6.7,3.1,4.7,1.5,2,versicolor
87,87,6.3,2.3,4.4,1.3,2,versicolor
88,88,5.6,3.0,4.1,1.3,2,versicolor
89,89,5.5,2.5,4.0,1.3,2,versicolor
90,90,5.5,2.6,4.4,1.2,2,versicolor
91,91,6.1,3.0,4.6,1.4,2,versicolor
92,92,5.8,2.6,4.0,1.2,2,versicolor
93,93,5.0,2.3,3.3,1.0,2,versicolor
94,94,5.6,2.7,4.2,1.3,2,versicolor
95,95,5.7,3.0,4.2,1.2,2,versicolor
96,96,5.7,2.9,4.2,1.3,2,versicolor
97,97,6.2,2.9,4.3,1.3,2,versicolor
98,98,5.1,2.5,3.0,1.1,2,versicolor
99,99,5.7,2.8,4.1,1.3,2,versicolor
100,100,6.3,3.3,6.0,2.5,3,virginica
101,101,5.8,2.7,5.1,1.9,3,virginica
102,102,7.1,3.0,5.9,2.1,3,virginica
103,103,6.3,2.9,5.6,1.8,3,virginica
104,104,6.5,3.0,5.8,2.2,3,virginica
105,105,7.6,3.0,6.6,2.1,3,virginica
106,106,4.9,2.5,4.5,1.7,3,virginica
107,107,7.3,2.9,6.3,1.8,3,virginica
108,108,6.7,2.5,5.8,1.8,3,virginica
109,109,7.2,3.6,6.1,2.5,3,virginica
110,110,6.5,3.2,5.1,2.0,3,virginica
111,111,6.4,2.7,5.3,1.9,3,virginica
112,112,6.8,3.0,5.5,2.1,3,virginica
113,113,5.7,2.5,5.0,2.0,3,virginica
114,114,5.8,2.8,5.1,2.4,3,virginica
115,115,6.4,3.2,5.3,2.3,3,virginica
116,116,6.5,3.0,5.5,1.8,3,virginica
117,117,7.7,3.8,6.7,2.2,3,virginica
118,118,7.7,2.6,6.9,2.3,3,virginica
119,119,6.0,2.2,5.0,1.5,3,virginica
120,120,6.9,3.2,5.7,2.3,3,virginica
121,121,5.6,2.8,4.9,2.0,3,virginica
122,122,7.7,2.8,6.7,2.0,3,virginica
123,123,6.3,2.7,4.9,1.8,3,virginica
124,124,6.7,3.3,5.7,2.1,3,virginica
125,125,7.2,3.2,6.0,1.8,3,virginica
126,126,6.2,2.8,4.8,1.8,3,virginica
127,127,6.1,3.0,4.9,1.8,3,virginica
128,128,6.4,2.8,5.6,2.1,3,virginica
129,129,7.2,3.0,5.8,1.6,3,virginica
130,130,7.4,2.8,6.1,1.9,3,virginica
131,131,7.9,3.8,6.4,2.0,3,virginica
132,132,6.4,2.8,5.6,2.2,3,virginica
133,133,6.3,2.8,5.1,1.5,3,virginica
134,134,6.1,2.6,5.6,1.4,3,virginica
135,135,7.7,3.0,6.1,2.3,3,virginica
136,136,6.3,3.4,5.6,2.4,3,virginica
137,137,6.4,3.1,5.5,1.8,3,virginica
138,138,6.0,3.0,4.8,1.8,3,virginica
139,139,6.9,3.1,5.4,2.1,3,virginica
140,140,6.7,3.1,5.6,2.4,3,virginica
141,141,6.9,3.1,5.1,2.3,3,virginica
142,142,5.8,2.7,5.1,1.9,3,virginica
143,143,6.8,3.2,5.9,2.3,3,virginica
144,144,6.7,3.3,5.7,2.5,3,virginica
145,145,6.7,3.0,5.2,2.3,3,virginica
146,146,6.3,2.5,5.0,1.9,3,virginica
147,147,6.5,3.0,5.2,2.0,3,virginica
148,148,6.2,3.4,5.4,2.3,3,virginica
149,149,5.9,3.0,5.1,1.8,3,virginica

In [36]:
df.rename(columns = {'species_name':'species'}, inplace = True)

In [37]:
df

,Unnamed: 0,sepal_length,sepal_width,petal_length,petal_width,species_id.1,species
0,0,5.1,3.5,1.4,0.2,1,setosa
1,1,4.9,3.0,1.4,0.2,1,setosa
2,2,4.7,3.2,1.3,0.2,1,setosa
3,3,4.6,3.1,1.5,0.2,1,setosa
4,4,5.0,3.6,1.4,0.2,1,setosa
5,5,5.4,3.9,1.7,0.4,1,setosa
6,6,4.6,3.4,1.4,0.3,1,setosa
7,7,5.0,3.4,1.5,0.2,1,setosa
8,8,4.4,2.9,1.4,0.2,1,setosa
9,9,4.9,3.1,1.5,0.1,1,setosa
10,10,5.4,3.7,1.5,0.2,1,setosa
11,11,4.8,3.4,1.6,0.2,1,setosa
12,12,4.8,3.0,1.4,0.1,1,setosa
13,13,4.3,3.0,1.1,0.1,1,setosa
14,14,5.8,4.0,1.2,0.2,1,setosa
15,15,5.7,4.4,1.5,0.4,1,setosa
16,16,5.4,3.9,1.3,0.4,1,setosa
17,17,5.1,3.5,1.4,0.3,1,setosa
18,18,5.7,3.8,1.7,0.3,1,setosa
19,19,5.1,3.8,1.5,0.3,1,setosa
20,20,5.4,3.4,1.7,0.2,1,setosa
21,21,5.1,3.7,1.5,0.4,1,setosa
22,22,4.6,3.6,1.0,0.2,1,setosa
23,23,5.1,3.3,1.7,0.5,1,setosa
24,24,4.8,3.4,1.9,0.2,1,setosa
25,25,5.0,3.0,1.6,0.2,1,setosa
26,26,5.0,3.4,1.6,0.4,1,setosa
27,27,5.2,3.5,1.5,0.2,1,setosa
28,28,5.2,3.4,1.4,0.2,1,setosa
29,29,4.7,3.2,1.6,0.2,1,setosa
30,30,4.8,3.1,1.6,0.2,1,setosa
31,31,5.4,3.4,1.5,0.4,1,setosa
32,32,5.2,4.1,1.5,0.1,1,setosa
33,33,5.5,4.2,1.4,0.2,1,setosa
34,34,4.9,3.1,1.5,0.2,1,setosa
35,35,5.0,3.2,1.2,0.2,1,setosa
36,36,5.5,3.5,1.3,0.2,1,setosa
37,37,4.9,3.6,1.4,0.1,1,setosa
38,38,4.4,3.0,1.3,0.2,1,setosa
39,39,5.1,3.4,1.5,0.2,1,setosa
40,40,5.0,3.5,1.3,0.3,1,setosa
41,41,4.5,2.3,1.3,0.3,1,setosa
42,42,4.4,3.2,1.3,0.2,1,setosa
43,43,5.0,3.5,1.6,0.6,1,setosa
44,44,5.1,3.8,1.9,0.4,1,setosa
45,45,4.8,3.0,1.4,0.3,1,setosa
46,46,5.1,3.8,1.6,0.2,1,setosa
47,47,4.6,3.2,1.4,0.2,1,setosa
48,48,5.3,3.7,1.5,0.2,1,setosa
49,49,5.0,3.3,1.4,0.2,1,setosa
50,50,7.0,3.2,4.7,1.4,2,versicolor
51,51,6.4,3.2,4.5,1.5,2,versicolor
52,52,6.9,3.1,4.9,1.5,2,versicolor
53,53,5.5,2.3,4.0,1.3,2,versicolor
54,54,6.5,2.8,4.6,1.5,2,versicolor
55,55,5.7,2.8,4.5,1.3,2,versicolor
56,56,6.3,3.3,4.7,1.6,2,versicolor
57,57,4.9,2.4,3.3,1.0,2,versicolor
58,58,6.6,2.9,4.6,1.3,2,versicolor
59,59,5.2,2.7,3.9,1.4,2,versicolor
60,60,5.0,2.0,3.5,1.0,2,versicolor
61,61,5.9,3.0,4.2,1.5,2,versicolor
62,62,6.0,2.2,4.0,1.0,2,versicolor
63,63,6.1,2.9,4.7,1.4,2,versicolor
64,64,5.6,2.9,3.6,1.3,2,versicolor
65,65,6.7,3.1,4.4,1.4,2,versicolor
66,66,5.6,3.0,4.5,1.5,2,versicolor
67,67,5.8,2.7,4.1,1.0,2,versicolor
68,68,6.2,2.2,4.5,1.5,2,versicolor
69,69,5.6,2.5,3.9,1.1,2,versicolor
70,70,5.9,3.2,4.8,1.8,2,versicolor
71,71,6.1,2.8,4.0,1.3,2,versicolor
72,72,6.3,2.5,4.9,1.5,2,versicolor
73,73,6.1,2.8,4.7,1.2,2,versicolor
74,74,6.4,2.9,4.3,1.3,2,versicolor
75,75,6.6,3.0,4.4,1.4,2,versicolor
76,76,6.8,2.8,4.8,1.4,2,versicolor
77,77,6.7,3.0,5.0,1.7,2,versicolor
78,78,6.0,2.9,4.5,1.5,2,versicolor
79,79,5.7,2.6,3.5,1.0,2,versicolor
80,80,5.5,2.4,3.8,1.1,2,versicolor
81,81,5.5,2.4,3.7,1.0,2,versicolor
82,82,5.8,2.7,3.9,1.2,2,versicolor
83,83,6.0,2.7,5.1,1.6,2,versicolor
84,84,5.4,3.0,4.5,1.5,2,versicolor
85,85,6.0,3.4,4.5,1.6,2,versicolor
86,86,6.7,3.1,4.7,1.5,2,versicolor
87,87,6.3,2.3,4.4,1.3,2,versicolor
88,88,5.6,3.0,4.1,1.3,2,versicolor
89,89,5.5,2.5,4.0,1.3,2,versicolor
90,90,5.5,2.6,4.4,1.2,2,versicolor
91,91,6.1,3.0,4.6,1.4,2,versicolor
92,92,5.8,2.6,4.0,1.2,2,versicolor
93,93,5.0,2.3,3.3,1.0,2,versicolor
94,94,5.6,2.7,4.2,1.3,2,versicolor
95,95,5.7,3.0,4.2,1.2,2,versicolor
96,96,5.7,2.9,4.2,1.3,2,versicolor
97,97,6.2,2.9,4.3,1.3,2,versicolor
98,98,5.1,2.5,3.0,1.1,2,versicolor
99,99,5.7,2.8,4.1,1.3,2,versicolor
100,100,6.3,3.3,6.0,2.5,3,virginica
101,101,5.8,2.7,5.1,1.9,3,virginica
102,102,7.1,3.0,5.9,2.1,3,virginica
103,103,6.3,2.9,5.6,1.8,3,virginica
104,104,6.5,3.0,5.8,2.2,3,virginica
105,105,7.6,3.0,6.6,2.1,3,virginica
106,106,4.9,2.5,4.5,1.7,3,virginica
107,107,7.3,2.9,6.3,1.8,3,virginica
108,108,6.7,2.5,5.8,1.8,3,virginica
109,109,7.2,3.6,6.1,2.5,3,virginica
110,110,6.5,3.2,5.1,2.0,3,virginica
111,111,6.4,2.7,5.3,1.9,3,virginica
112,112,6.8,3.0,5.5,2.1,3,virginica
113,113,5.7,2.5,5.0,2.0,3,virginica
114,114,5.8,2.8,5.1,2.4,3,virginica
115,115,6.4,3.2,5.3,2.3,3,virginica
116,116,6.5,3.0,5.5,1.8,3,virginica
117,117,7.7,3.8,6.7,2.2,3,virginica
118,118,7.7,2.6,6.9,2.3,3,virginica
119,119,6.0,2.2,5.0,1.5,3,virginica
120,120,6.9,3.2,5.7,2.3,3,virginica
121,121,5.6,2.8,4.9,2.0,3,virginica
122,122,7.7,2.8,6.7,2.0,3,virginica
123,123,6.3,2.7,4.9,1.8,3,virginica
124,124,6.7,3.3,5.7,2.1,3,virginica
125,125,7.2,3.2,6.0,1.8,3,virginica
126,126,6.2,2.8,4.8,1.8,3,virginica
127,127,6.1,3.0,4.9,1.8,3,virginica
128,128,6.4,2.8,5.6,2.1,3,virginica
129,129,7.2,3.0,5.8,1.6,3,virginica
130,130,7.4,2.8,6.1,1.9,3,virginica
131,131,7.9,3.8,6.4,2.0,3,virginica
132,132,6.4,2.8,5.6,2.2,3,virginica
133,133,6.3,2.8,5.1,1.5,3,virginica
134,134,6.1,2.6,5.6,1.4,3,virginica
135,135,7.7,3.0,6.1,2.3,3,virginica
136,136,6.3,3.4,5.6,2.4,3,virginica
137,137,6.4,3.1,5.5,1.8,3,virginica
138,138,6.0,3.0,4.8,1.8,3,virginica
139,139,6.9,3.1,5.4,2.1,3,virginica
140,140,6.7,3.1,5.6,2.4,3,virginica
141,141,6.9,3.1,5.1,2.3,3,virginica
142,142,5.8,2.7,5.1,1.9,3,virginica
143,143,6.8,3.2,5.9,2.3,3,virginica
144,144,6.7,3.3,5.7,2.5,3,virginica
145,145,6.7,3.0,5.2,2.3,3,virginica
146,146,6.3,2.5,5.0,1.9,3,virginica
147,147,6.5,3.0,5.2,2.0,3,virginica
148,148,6.2,3.4,5.4,2.3,3,virginica
149,149,5.9,3.0,5.1,1.8,3,virginica

In [38]:
dummy_df = pd.get_dummies(df[['species']], dummy_na=False, drop_first=[True])
dummy_df.head()

   species_versicolor  species_virginica
0                   0                  0
1                   0                  0
2                   0                  0
3                   0                  0
4                   0                  0

In [39]:
df = pd.concat([df, dummy_df], axis=1)
df.head(1)

,Unnamed: 0,sepal_length,sepal_width,petal_length,petal_width,species_id.1,species,species_versicolor,species_virginica
0,0,5.1,3.5,1.4,0.2,1,setosa,0,0

In [40]:
df # function for data prep iris is made

,Unnamed: 0,sepal_length,sepal_width,petal_length,petal_width,species_id.1,species,species_versicolor,species_virginica
0,0,5.1,3.5,1.4,0.2,1,setosa,0,0
1,1,4.9,3.0,1.4,0.2,1,setosa,0,0
2,2,4.7,3.2,1.3,0.2,1,setosa,0,0
3,3,4.6,3.1,1.5,0.2,1,setosa,0,0
4,4,5.0,3.6,1.4,0.2,1,setosa,0,0
5,5,5.4,3.9,1.7,0.4,1,setosa,0,0
6,6,4.6,3.4,1.4,0.3,1,setosa,0,0
7,7,5.0,3.4,1.5,0.2,1,setosa,0,0
8,8,4.4,2.9,1.4,0.2,1,setosa,0,0
9,9,4.9,3.1,1.5,0.1,1,setosa,0,0
10,10,5.4,3.7,1.5,0.2,1,setosa,0,0
11,11,4.8,3.4,1.6,0.2,1,setosa,0,0
12,12,4.8,3.0,1.4,0.1,1,setosa,0,0
13,13,4.3,3.0,1.1,0.1,1,setosa,0,0
14,14,5.8,4.0,1.2,0.2,1,setosa,0,0
15,15,5.7,4.4,1.5,0.4,1,setosa,0,0
16,16,5.4,3.9,1.3,0.4,1,setosa,0,0
17,17,5.1,3.5,1.4,0.3,1,setosa,0,0
18,18,5.7,3.8,1.7,0.3,1,setosa,0,0
19,19,5.1,3.8,1.5,0.3,1,setosa,0,0
20,20,5.4,3.4,1.7,0.2,1,setosa,0,0
21,21,5.1,3.7,1.5,0.4,1,setosa,0,0
22,22,4.6,3.6,1.0,0.2,1,setosa,0,0
23,23,5.1,3.3,1.7,0.5,1,setosa,0,0
24,24,4.8,3.4,1.9,0.2,1,setosa,0,0
25,25,5.0,3.0,1.6,0.2,1,setosa,0,0
26,26,5.0,3.4,1.6,0.4,1,setosa,0,0
27,27,5.2,3.5,1.5,0.2,1,setosa,0,0
28,28,5.2,3.4,1.4,0.2,1,setosa,0,0
29,29,4.7,3.2,1.6,0.2,1,setosa,0,0
30,30,4.8,3.1,1.6,0.2,1,setosa,0,0
31,31,5.4,3.4,1.5,0.4,1,setosa,0,0
32,32,5.2,4.1,1.5,0.1,1,setosa,0,0
33,33,5.5,4.2,1.4,0.2,1,setosa,0,0
34,34,4.9,3.1,1.5,0.2,1,setosa,0,0
35,35,5.0,3.2,1.2,0.2,1,setosa,0,0
36,36,5.5,3.5,1.3,0.2,1,setosa,0,0
37,37,4.9,3.6,1.4,0.1,1,setosa,0,0
38,38,4.4,3.0,1.3,0.2,1,setosa,0,0
39,39,5.1,3.4,1.5,0.2,1,setosa,0,0
40,40,5.0,3.5,1.3,0.3,1,setosa,0,0
41,41,4.5,2.3,1.3,0.3,1,setosa,0,0
42,42,4.4,3.2,1.3,0.2,1,setosa,0,0
43,43,5.0,3.5,1.6,0.6,1,setosa,0,0
44,44,5.1,3.8,1.9,0.4,1,setosa,0,0
45,45,4.8,3.0,1.4,0.3,1,setosa,0,0
46,46,5.1,3.8,1.6,0.2,1,setosa,0,0
47,47,4.6,3.2,1.4,0.2,1,setosa,0,0
48,48,5.3,3.7,1.5,0.2,1,setosa,0,0
49,49,5.0,3.3,1.4,0.2,1,setosa,0,0
50,50,7.0,3.2,4.7,1.4,2,versicolor,1,0
51,51,6.4,3.2,4.5,1.5,2,versicolor,1,0
52,52,6.9,3.1,4.9,1.5,2,versicolor,1,0
53,53,5.5,2.3,4.0,1.3,2,versicolor,1,0
54,54,6.5,2.8,4.6,1.5,2,versicolor,1,0
55,55,5.7,2.8,4.5,1.3,2,versicolor,1,0
56,56,6.3,3.3,4.7,1.6,2,versicolor,1,0
57,57,4.9,2.4,3.3,1.0,2,versicolor,1,0
58,58,6.6,2.9,4.6,1.3,2,versicolor,1,0
59,59,5.2,2.7,3.9,1.4,2,versicolor,1,0
60,60,5.0,2.0,3.5,1.0,2,versicolor,1,0
61,61,5.9,3.0,4.2,1.5,2,versicolor,1,0
62,62,6.0,2.2,4.0,1.0,2,versicolor,1,0
63,63,6.1,2.9,4.7,1.4,2,versicolor,1,0
64,64,5.6,2.9,3.6,1.3,2,versicolor,1,0
65,65,6.7,3.1,4.4,1.4,2,versicolor,1,0
66,66,5.6,3.0,4.5,1.5,2,versicolor,1,0
67,67,5.8,2.7,4.1,1.0,2,versicolor,1,0
68,68,6.2,2.2,4.5,1.5,2,versicolor,1,0
69,69,5.6,2.5,3.9,1.1,2,versicolor,1,0
70,70,5.9,3.2,4.8,1.8,2,versicolor,1,0
71,71,6.1,2.8,4.0,1.3,2,versicolor,1,0
72,72,6.3,2.5,4.9,1.5,2,versicolor,1,0
73,73,6.1,2.8,4.7,1.2,2,versicolor,1,0
74,74,6.4,2.9,4.3,1.3,2,versicolor,1,0
75,75,6.6,3.0,4.4,1.4,2,versicolor,1,0
76,76,6.8,2.8,4.8,1.4,2,versicolor,1,0
77,77,6.7,3.0,5.0,1.7,2,versicolor,1,0
78,78,6.0,2.9,4.5,1.5,2,versicolor,1,0
79,79,5.7,2.6,3.5,1.0,2,versicolor,1,0
80,80,5.5,2.4,3.8,1.1,2,versicolor,1,0
81,81,5.5,2.4,3.7,1.0,2,versicolor,1,0
82,82,5.8,2.7,3.9,1.2,2,versicolor,1,0
83,83,6.0,2.7,5.1,1.6,2,versicolor,1,0
84,84,5.4,3.0,4.5,1.5,2,versicolor,1,0
85,85,6.0,3.4,4.5,1.6,2,versicolor,1,0
86,86,6.7,3.1,4.7,1.5,2,versicolor,1,0
87,87,6.3,2.3,4.4,1.3,2,versicolor,1,0
88,88,5.6,3.0,4.1,1.3,2,versicolor,1,0
89,89,5.5,2.5,4.0,1.3,2,versicolor,1,0
90,90,5.5,2.6,4.4,1.2,2,versicolor,1,0
91,91,6.1,3.0,4.6,1.4,2,versicolor,1,0
92,92,5.8,2.6,4.0,1.2,2,versicolor,1,0
93,93,5.0,2.3,3.3,1.0,2,versicolor,1,0
94,94,5.6,2.7,4.2,1.3,2,versicolor,1,0
95,95,5.7,3.0,4.2,1.2,2,versicolor,1,0
96,96,5.7,2.9,4.2,1.3,2,versicolor,1,0
97,97,6.2,2.9,4.3,1.3,2,versicolor,1,0
98,98,5.1,2.5,3.0,1.1,2,versicolor,1,0
99,99,5.7,2.8,4.1,1.3,2,versicolor,1,0
100,100,6.3,3.3,6.0,2.5,3,virginica,0,1
101,101,5.8,2.7,5.1,1.9,3,virginica,0,1
102,102,7.1,3.0,5.9,2.1,3,virginica,0,1
103,103,6.3,2.9,5.6,1.8,3,virginica,0,1
104,104,6.5,3.0,5.8,2.2,3,virginica,0,1
105,105,7.6,3.0,6.6,2.1,3,virginica,0,1
106,106,4.9,2.5,4.5,1.7,3,virginica,0,1
107,107,7.3,2.9,6.3,1.8,3,virginica,0,1
108,108,6.7,2.5,5.8,1.8,3,virginica,0,1
109,109,7.2,3.6,6.1,2.5,3,virginica,0,1
110,110,6.5,3.2,5.1,2.0,3,virginica,0,1
111,111,6.4,2.7,5.3,1.9,3,virginica,0,1
112,112,6.8,3.0,5.5,2.1,3,virginica,0,1
113,113,5.7,2.5,5.0,2.0,3,virginica,0,1
114,114,5.8,2.8,5.1,2.4,3,virginica,0,1
115,115,6.4,3.2,5.3,2.3,3,virginica,0,1
116,116,6.5,3.0,5.5,1.8,3,virginica,0,1
117,117,7.7,3.8,6.7,2.2,3,virginica,0,1
118,118,7.7,2.6,6.9,2.3,3,virginica,0,1
119,119,6.0,2.2,5.0,1.5,3,virginica,0,1
120,120,6.9,3.2,5.7,2.3,3,virginica,0,1
121,121,5.6,2.8,4.9,2.0,3,virginica,0,1
122,122,7.7,2.8,6.7,2.0,3,virginica,0,1
123,123,6.3,2.7,4.9,1.8,3,virginica,0,1
124,124,6.7,3.3,5.7,2.1,3,virginica,0,1
125,125,7.2,3.2,6.0,1.8,3,virginica,0,1
126,126,6.2,2.8,4.8,1.8,3,virginica,0,1
127,127,6.1,3.0,4.9,1.8,3,virginica,0,1
128,128,6.4,2.8,5.6,2.1,3,virginica,0,1
129,129,7.2,3.0,5.8,1.6,3,virginica,0,1
130,130,7.4,2.8,6.1,1.9,3,virginica,0,1
131,131,7.9,3.8,6.4,2.0,3,virginica,0,1
132,132,6.4,2.8,5.6,2.2,3,virginica,0,1
133,133,6.3,2.8,5.1,1.5,3,virginica,0,1
134,134,6.1,2.6,5.6,1.4,3,virginica,0,1
135,135,7.7,3.0,6.1,2.3,3,virginica,0,1
136,136,6.3,3.4,5.6,2.4,3,virginica,0,1
137,137,6.4,3.1,5.5,1.8,3,virginica,0,1
138,138,6.0,3.0,4.8,1.8,3,virginica,0,1
139,139,6.9,3.1,5.4,2.1,3,virginica,0,1
140,140,6.7,3.1,5.6,2.4,3,virginica,0,1
141,141,6.9,3.1,5.1,2.3,3,virginica,0,1
142,142,5.8,2.7,5.1,1.9,3,virginica,0,1
143,143,6.8,3.2,5.9,2.3,3,virginica,0,1
144,144,6.7,3.3,5.7,2.5,3,virginica,0,1
145,145,6.7,3.0,5.2,2.3,3,virginica,0,1
146,146,6.3,2.5,5.0,1.9,3,virginica,0,1
147,147,6.5,3.0,5.2,2.0,3,virginica,0,1
148,148,6.2,3.4,5.4,2.3,3,virginica,0,1
149,149,5.9,3.0,5.1,1.8,3,virginica,0,1

In [41]:
dftitanic = acquire.get_titanic_data()

In [42]:
dftitanic.dropna()

,Unnamed: 0,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
1,1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
3,3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
6,6,6,0,1,male,54.0,0,0,51.8625,S,First,E,Southampton,1
10,10,10,1,3,female,4.0,1,1,16.7000,S,Third,G,Southampton,0
11,11,11,1,1,female,58.0,0,0,26.5500,S,First,C,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,871,871,1,1,female,47.0,1,1,52.5542,S,First,D,Southampton,0
872,872,872,0,1,male,33.0,0,0,5.0000,S,First,B,Southampton,1
879,879,879,1,1,female,56.0,0,1,83.1583,C,First,C,Cherbourg,0
887,887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
889,889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1

In [43]:
dftitanic.drop(columns = ['Unnamed: 0', 'passenger_id', 'survived', 'pclass', 'sibsp', 'parch', 'alone', 'embarked'], inplace = True)

In [44]:
dftitanic

        sex   age     fare   class deck  embark_town
0      male  22.0   7.2500   Third  NaN  Southampton
1    female  38.0  71.2833   First    C    Cherbourg
2    female  26.0   7.9250   Third  NaN  Southampton
3    female  35.0  53.1000   First    C  Southampton
4      male  35.0   8.0500   Third  NaN  Southampton
..      ...   ...      ...     ...  ...          ...
886    male  27.0  13.0000  Second  NaN  Southampton
887  female  19.0  30.0000   First    B  Southampton
888  female   NaN  23.4500   Third  NaN  Southampton
889    male  26.0  30.0000   First    C    Cherbourg
890    male  32.0   7.7500   Third  NaN   Queenstown

[891 rows x 6 columns]

In [45]:
dummy_df = pd.get_dummies(dftitanic[['sex']], dummy_na=False, drop_first=[True])
dftitanic = pd.concat([dftitanic, dummy_df], axis=1)

In [46]:
dummy_df = pd.get_dummies(dftitanic[['class']], dummy_na=False, drop_first=[True])
dftitanic = pd.concat([dftitanic, dummy_df], axis=1)

dummy_df = pd.get_dummies(dftitanic[['deck']], dummy_na=False, drop_first=[True])
dftitanic = pd.concat([dftitanic, dummy_df], axis=1)

dummy_df = pd.get_dummies(dftitanic[['embark_town']], dummy_na=False, drop_first=[True])
dftitanic = pd.concat([dftitanic, dummy_df], axis=1)

In [47]:
dftitanic

,sex,age,fare,class,deck,embark_town,sex_male,class_Second,class_Third,deck_B,deck_C,deck_D,deck_E,deck_F,deck_G,embark_town_Queenstown,embark_town_Southampton
0,male,22.0,7.2500,Third,NaN,Southampton,1,0,1,0,0,0,0,0,0,0,1
1,female,38.0,71.2833,First,C,Cherbourg,0,0,0,0,1,0,0,0,0,0,0
2,female,26.0,7.9250,Third,NaN,Southampton,0,0,1,0,0,0,0,0,0,0,1
3,female,35.0,53.1000,First,C,Southampton,0,0,0,0,1,0,0,0,0,0,1
4,male,35.0,8.0500,Third,NaN,Southampton,1,0,1,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,male,27.0,13.0000,Second,NaN,Southampton,1,1,0,0,0,0,0,0,0,0,1
887,female,19.0,30.0000,First,B,Southampton,0,0,0,1,0,0,0,0,0,0,1
888,female,NaN,23.4500,Third,NaN,Southampton,0,0,1,0,0,0,0,0,0,0,1
889,male,26.0,30.0000,First,C,Cherbourg,1,0,0,0,1,0,0,0,0,0,0
890,male,32.0,7.7500,Third,NaN,Queenstown,1,0,1,0,0,0,0,0,0,1,0

In [48]:
df = acquire.get_titanic_data()

In [49]:
df

,Unnamed: 0,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,886,0,2,male,27.0,0,0,13.0000,S,Second,NaN,Southampton,1
887,887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,888,0,3,female,NaN,1,2,23.4500,S,Third,NaN,Southampton,0
889,889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,890,0,3,male,32.0,0,0,7.7500,Q,Third,NaN,Queenstown,1

In [50]:
prepare.prep_titanic(df) #function for titanic data prep

,sex,age,fare,class,deck,embark_town,sex_male,class_Second,class_Third,deck_B,deck_C,deck_D,deck_E,deck_F,deck_G,embark_town_Queenstown,embark_town_Southampton
1,female,38.0,71.2833,First,C,Cherbourg,0,0,0,0,1,0,0,0,0,0,0
3,female,35.0,53.1000,First,C,Southampton,0,0,0,0,1,0,0,0,0,0,1
6,male,54.0,51.8625,First,E,Southampton,1,0,0,0,0,0,1,0,0,0,1
10,female,4.0,16.7000,Third,G,Southampton,0,0,1,0,0,0,0,0,1,0,1
11,female,58.0,26.5500,First,C,Southampton,0,0,0,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,female,47.0,52.5542,First,D,Southampton,0,0,0,0,0,1,0,0,0,0,1
872,male,33.0,5.0000,First,B,Southampton,1,0,0,1,0,0,0,0,0,0,1
879,female,56.0,83.1583,First,C,Cherbourg,0,0,0,0,1,0,0,0,0,0,0
887,female,19.0,30.0000,First,B,Southampton,0,0,0,1,0,0,0,0,0,0,1
889,male,26.0,30.0000,First,C,Cherbourg,1,0,0,0,1,0,0,0,0,0,0

In [51]:
df = acquire.get_telco_data() #function to acquire telco data

In [52]:
df.drop(columns = ['Unnamed: 0', 'internet_service_type_id',\
                          'contract_type_id',\
                          'payment_type_id',\
                          ], inplace = True)

In [53]:
df

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,tech_support,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,internet_service_type,contract_type,payment_type
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,No,Yes,...,Yes,Yes,No,Yes,65.60,593.3,No,DSL,One year,Mailed check
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,No,No,...,No,No,Yes,No,59.90,542.4,No,DSL,Month-to-month,Mailed check
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,No,No,...,No,No,No,Yes,73.90,280.85,Yes,Fiber optic,Month-to-month,Electronic check
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,No,Yes,...,No,Yes,Yes,Yes,98.00,1237.85,Yes,Fiber optic,Month-to-month,Electronic check
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,No,No,...,Yes,Yes,No,Yes,83.90,267.4,Yes,Fiber optic,Month-to-month,Mailed check
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9987-LUTYD,Female,0,No,No,13,Yes,No,Yes,No,...,Yes,No,No,No,55.15,742.9,No,DSL,One year,Mailed check
7039,9992-RRAMN,Male,0,Yes,No,22,Yes,Yes,No,No,...,No,No,Yes,Yes,85.10,1873.7,Yes,Fiber optic,Month-to-month,Electronic check
7040,9992-UJOEL,Male,0,No,No,2,Yes,No,No,Yes,...,No,No,No,Yes,50.30,92.75,No,DSL,Month-to-month,Mailed check
7041,9993-LHIEB,Male,0,Yes,Yes,67,Yes,No,Yes,No,...,Yes,No,Yes,No,67.85,4627.65,No,DSL,Two year,Mailed check
7042,9995-HOTOH,Male,0,Yes,Yes,63,No,No phone service,Yes,Yes,...,No,Yes,Yes,No,59.00,3707.6,No,DSL,Two year,Electronic check

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   customer_id            7043 non-null   object
 1   gender                 7043 non-null   object
 2   senior_citizen         7043 non-null   int64
 3   partner                7043 non-null   object
 4   dependents             7043 non-null   object
 5   tenure                 7043 non-null   int64
 6   phone_service          7043 non-null   object
 7   multiple_lines         7043 non-null   object
 8   online_security        7043 non-null   object
 9   online_backup          7043 non-null   object
 10  device_protection      7043 non-null   object
 11  tech_support           7043 non-null   object
 12  streaming_tv           7043 non-null   object
 13  streaming_movies       7043 non-null   object
 14  paperless_billing      7043 non-null   object
 15  monthly_charges        7043 non-null   float64
 16  total_charges          7043 non-null   object
 17  churn                  7043 non-null   object
 18  internet_service_type  7043 non-null   object
 19  contract_type          7043 non-null   object
 20  payment_type           7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [55]:
dummy_df = pd.get_dummies(df[['gender']], dummy_na=False, drop_first=[True])
df = pd.concat([df, dummy_df], axis=1)
dummy_df = pd.get_dummies(df[['partner']], dummy_na=False, drop_first=[True])
df = pd.concat([df, dummy_df], axis=1)
dummy_df = pd.get_dummies(df[['dependents']], dummy_na=False, drop_first=[True])
df = pd.concat([df, dummy_df], axis=1)
dummy_df = pd.get_dummies(df[['phone_service']], dummy_na=False, drop_first=[True])
df = pd.concat([df, dummy_df], axis=1)
dummy_df = pd.get_dummies(df[['multiple_lines']], dummy_na=False, drop_first=[True])
df = pd.concat([df, dummy_df], axis=1)
dummy_df = pd.get_dummies(df[['online_security']], dummy_na=False, drop_first=[True])
df = pd.concat([df, dummy_df], axis=1)
dummy_df = pd.get_dummies(df[['online_backup']], dummy_na=False, drop_first=[True])
df = pd.concat([df, dummy_df], axis=1)
dummy_df = pd.get_dummies(df[['device_protection']], dummy_na=False, drop_first=[True])
df = pd.concat([df, dummy_df], axis=1)
dummy_df = pd.get_dummies(df[['tech_support']], dummy_na=False, drop_first=[True])
df = pd.concat([df, dummy_df], axis=1)
dummy_df = pd.get_dummies(df[['streaming_movies']], dummy_na=False, drop_first=[True])
df = pd.concat([df, dummy_df], axis=1)
dummy_df = pd.get_dummies(df[['paperless_billing']], dummy_na=False, drop_first=[True])
df = pd.concat([df, dummy_df], axis=1)
dummy_df = pd.get_dummies(df[['churn']], dummy_na=False, drop_first=[True])
df = pd.concat([df, dummy_df], axis=1)
dummy_df = pd.get_dummies(df[['internet_service_type']], dummy_na=False, drop_first=[True])
df = pd.concat([df, dummy_df], axis=1)
dummy_df = pd.get_dummies(df[['contract_type']], dummy_na=False, drop_first=[True])
df = pd.concat([df, dummy_df], axis=1)
dummy_df = pd.get_dummies(df[['payment_type']], dummy_na=False, drop_first=[True])
df = pd.concat([df, dummy_df], axis=1)
dummy_df = pd.get_dummies(df[['streaming_tv']], dummy_na=False, drop_first=[True])
df = pd.concat([df, dummy_df], axis=1)

In [56]:
df

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,...,churn_Yes,internet_service_type_Fiber optic,internet_service_type_None,contract_type_One year,contract_type_Two year,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check,streaming_tv_No internet service,streaming_tv_Yes
0,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,No,Yes,...,0,0,0,1,0,0,0,1,0,1
1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,No,No,...,0,0,0,0,0,0,0,1,0,0
2,0004-TLHLJ,Male,0,No,No,4,Yes,No,No,No,...,1,1,0,0,0,0,1,0,0,0
3,0011-IGKFF,Male,1,Yes,No,13,Yes,No,No,Yes,...,1,1,0,0,0,0,1,0,0,1
4,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,No,No,...,1,1,0,0,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9987-LUTYD,Female,0,No,No,13,Yes,No,Yes,No,...,0,0,0,1,0,0,0,1,0,0
7039,9992-RRAMN,Male,0,Yes,No,22,Yes,Yes,No,No,...,1,1,0,0,0,0,1,0,0,0
7040,9992-UJOEL,Male,0,No,No,2,Yes,No,No,Yes,...,0,0,0,0,0,0,0,1,0,0
7041,9993-LHIEB,Male,0,Yes,Yes,67,Yes,No,Yes,No,...,0,0,0,0,1,0,0,1,0,0
7042,9995-HOTOH,Male,0,Yes,Yes,63,No,No phone service,Yes,Yes,...,0,0,0,0,1,0,1,0,0,1

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 48 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   customer_id                            7043 non-null   object
 1   gender                                 7043 non-null   object
 2   senior_citizen                         7043 non-null   int64
 3   partner                                7043 non-null   object
 4   dependents                             7043 non-null   object
 5   tenure                                 7043 non-null   int64
 6   phone_service                          7043 non-null   object
 7   multiple_lines                         7043 non-null   object
 8   online_security                        7043 non-null   object
 9   online_backup                          7043 non-null   object
 10  device_protection                      7043 non-null   object
 11  tech_support                           7043 non-null   object
 12  streaming_tv                           7043 non-null   object
 13  streaming_movies                       7043 non-null   object
 14  paperless_billing                      7043 non-null   object
 15  monthly_charges                        7043 non-null   float64
 16  total_charges                          7043 non-null   object
 17  churn                                  7043 non-null   object
 18  internet_service_type                  7043 non-null   object
 19  contract_type                          7043 non-null   object
 20  payment_type                           7043 non-null   object
 21  gender_Male                            7043 non-null   uint8
 22  partner_Yes                            7043 non-null   uint8
 23  dependents_Yes                         7043 non-null   uint8
 24  phone_service_Yes                      7043 non-null   uint8
 25  multiple_lines_No phone service        7043 non-null   uint8
 26  multiple_lines_Yes                     7043 non-null   uint8
 27  online_security_No internet service    7043 non-null   uint8
 28  online_security_Yes                    7043 non-null   uint8
 29  online_backup_No internet service      7043 non-null   uint8
 30  online_backup_Yes                      7043 non-null   uint8
 31  device_protection_No internet service  7043 non-null   uint8
 32  device_protection_Yes                  7043 non-null   uint8
 33  tech_support_No internet service       7043 non-null   uint8
 34  tech_support_Yes                       7043 non-null   uint8
 35  streaming_movies_No internet service   7043 non-null   uint8
 36  streaming_movies_Yes                   7043 non-null   uint8
 37  paperless_billing_Yes                  7043 non-null   uint8
 38  churn_Yes                              7043 non-null   uint8
 39  internet_service_type_Fiber optic      7043 non-null   uint8
 40  internet_service_type_None             7043 non-null   uint8
 41  contract_type_One year                 7043 non-null   uint8
 42  contract_type_Two year                 7043 non-null   uint8
 43  payment_type_Credit card (automatic)   7043 non-null   uint8
 44  payment_type_Electronic check          7043 non-null   uint8
 45  payment_type_Mailed check              7043 non-null   uint8
 46  streaming_tv_No internet service       7043 non-null   uint8
 47  streaming_tv_Yes                       7043 non-null   uint8
dtypes: float64(1), int64(2), object(18), uint8(27)
memory usage: 1.3+ MB

In [58]:
df = acquire.get_iris_data()

In [59]:
df = prepare.prep_iris(df)

In [60]:

train, test =\
train_test_split(df, \
                 test_size=.1,\
                 random_state=123, stratify=df.species)
train, validate =\
train_test_split(train,\
                 test_size=.3,\
                 random_state=123,\
                 stratify=train.species)

In [61]:
print(f'train -> {train.shape}')
print(f'validate -> {validate.shape}')
print(f'test -> {test.shape}')

train -> (94, 9)
validate -> (41, 9)
test -> (15, 9)

In [62]:
df = acquire.get_titanic_data()

In [63]:
df = prepare.prep_titanic(df)

In [64]:
df = prepare.titanic_split(df)

In [65]:

warnings.filterwarnings("ignore")