In [31]:
ðŸ˜³

In [2]:
from pydataset import data

# number 4

In [3]:
df_iris = data('iris')

In [4]:
df_iris.head(3) #first 3 rows

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [5]:
df_iris.shape #shape of df rows x columns

(150, 5)

In [6]:
df_iris.dtypes #column data type/

Sepal.Length    float64
Sepal.Width     float64
Petal.Length    float64
Petal.Width     float64
Species          object
dtype: object

In [7]:
df_iris.describe() #summary statistics

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

# Number 5

In [8]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1Uhtml8KY19LILuZsrDtlsHHDC9wuDGUSe8LTEwvdI5g/edit#gid=341089357'

In [9]:
csv_export_url = sheet_url.replace('/edit#gid=', '/export?format=csv&gid=')

df_google = pd.read_csv(csv_export_url)
df_google.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [10]:

print(df_google.shape)
print(df_google.info())
print(df_google.describe())
df_google.head(3)

(891, 12)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None
       PassengerId    Survived      Pclass         Age       SibSp  \
count   891.000000  891.000000  891.000000  714.000000  891.000000
mean    446.000000    0.383838    2.308642   29.699118    0.523008
std     257.353842    0.486592    0.836071   14.526497    1.102743
min       1.000000    0.000000    1.000000    0.420000    0.000000
25%     223.500000    0.000000    2.000000   20.125000    0.000000
50%     446.000000    0.000000    3.000000   28.000000    0.000000
75%     668.500000    1.000000    3.000000   38.000000    1.000000
max     891.000000    1.000000    3.000000   80.000000    8.000000

            Parch        Fare
count  891.000000  891.000000
mean     0.381594   32.204208
std      0.806057   49.693429
min      0.000000    0.000000
25%      0.000000    7.910400
50%      0.000000   14.454200
75%      0.000000   31.000000
max      6.000000  512.329200

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [11]:
df_google.nunique()

PassengerId    891
Survived         2
Pclass           3
Name           891
Sex              2
Age             88
SibSp            7
Parch            7
Ticket         681
Fare           248
Cabin          147
Embarked         3
dtype: int64

# Number 6

In [12]:
df_excel = pd.read_excel('train.xlsx', sheet_name='train') #call for one argument (sheet)

In [13]:
df_excel_sample = df_excel.head(100)

In [14]:
df_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [15]:
df_excel_sample.shape

(100, 12)

In [16]:
df_excel.shape[0] #amount of rows only

891

In [17]:
df_excel.columns[0:5] #print specific columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex'], dtype='object')

In [18]:
df_excel.columns[0:5].to_list()

['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex']

In [19]:
df_excel.select_dtypes(include= 'object').columns.tolist() #column names that have object as value

['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked']

In [20]:
int_cols = df_excel.select_dtypes(include= [int])
float_cols = df_excel.select_dtypes(include= [float])

In [21]:
float_cols

      Age     Fare
0    22.0   7.2500
1    38.0  71.2833
2    26.0   7.9250
3    35.0  53.1000
4    35.0   8.0500
..    ...      ...
886  27.0  13.0000
887  19.0  30.0000
888   NaN  23.4500
889  26.0  30.0000
890  32.0   7.7500

[891 rows x 2 columns]

In [22]:
df3=pd.concat([int_cols, float_cols],axis=1,join='inner')

In [23]:
col_ranges = df3.max() - df3.min()

In [24]:
col_ranges #calculated ranges for every numeric columns

PassengerId    890.0000
Survived         1.0000
Pclass           2.0000
SibSp            8.0000
Parch            6.0000
Age             79.5800
Fare           512.3292
dtype: float64

In [25]:
import acquire

In [26]:
acquire.get_titanic_data() #function created to get titanic data

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,None,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,None,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,None,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,27.0,0,0,13.0000,S,Second,None,Southampton,1
887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,0,3,female,NaN,1,2,23.4500,S,Third,None,Southampton,0
889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,0,3,male,32.0,0,0,7.7500,Q,Third,None,Queenstown,1

In [27]:
acquire.get_iris_data()

,measurement_id,sepal_length,sepal_width,petal_length,petal_width,species_id,species_id,species_name
0,1,5.1,3.5,1.4,0.2,1,1,setosa
1,2,4.9,3.0,1.4,0.2,1,1,setosa
2,3,4.7,3.2,1.3,0.2,1,1,setosa
3,4,4.6,3.1,1.5,0.2,1,1,setosa
4,5,5.0,3.6,1.4,0.2,1,1,setosa
5,6,5.4,3.9,1.7,0.4,1,1,setosa
6,7,4.6,3.4,1.4,0.3,1,1,setosa
7,8,5.0,3.4,1.5,0.2,1,1,setosa
8,9,4.4,2.9,1.4,0.2,1,1,setosa
9,10,4.9,3.1,1.5,0.1,1,1,setosa
10,11,5.4,3.7,1.5,0.2,1,1,setosa
11,12,4.8,3.4,1.6,0.2,1,1,setosa
12,13,4.8,3.0,1.4,0.1,1,1,setosa
13,14,4.3,3.0,1.1,0.1,1,1,setosa
14,15,5.8,4.0,1.2,0.2,1,1,setosa
15,16,5.7,4.4,1.5,0.4,1,1,setosa
16,17,5.4,3.9,1.3,0.4,1,1,setosa
17,18,5.1,3.5,1.4,0.3,1,1,setosa
18,19,5.7,3.8,1.7,0.3,1,1,setosa
19,20,5.1,3.8,1.5,0.3,1,1,setosa
20,21,5.4,3.4,1.7,0.2,1,1,setosa
21,22,5.1,3.7,1.5,0.4,1,1,setosa
22,23,4.6,3.6,1.0,0.2,1,1,setosa
23,24,5.1,3.3,1.7,0.5,1,1,setosa
24,25,4.8,3.4,1.9,0.2,1,1,setosa
25,26,5.0,3.0,1.6,0.2,1,1,setosa
26,27,5.0,3.4,1.6,0.4,1,1,setosa
27,28,5.2,3.5,1.5,0.2,1,1,setosa
28,29,5.2,3.4,1.4,0.2,1,1,setosa
29,30,4.7,3.2,1.6,0.2,1,1,setosa
30,31,4.8,3.1,1.6,0.2,1,1,setosa
31,32,5.4,3.4,1.5,0.4,1,1,setosa
32,33,5.2,4.1,1.5,0.1,1,1,setosa
33,34,5.5,4.2,1.4,0.2,1,1,setosa
34,35,4.9,3.1,1.5,0.2,1,1,setosa
35,36,5.0,3.2,1.2,0.2,1,1,setosa
36,37,5.5,3.5,1.3,0.2,1,1,setosa
37,38,4.9,3.6,1.4,0.1,1,1,setosa
38,39,4.4,3.0,1.3,0.2,1,1,setosa
39,40,5.1,3.4,1.5,0.2,1,1,setosa
40,41,5.0,3.5,1.3,0.3,1,1,setosa
41,42,4.5,2.3,1.3,0.3,1,1,setosa
42,43,4.4,3.2,1.3,0.2,1,1,setosa
43,44,5.0,3.5,1.6,0.6,1,1,setosa
44,45,5.1,3.8,1.9,0.4,1,1,setosa
45,46,4.8,3.0,1.4,0.3,1,1,setosa
46,47,5.1,3.8,1.6,0.2,1,1,setosa
47,48,4.6,3.2,1.4,0.2,1,1,setosa
48,49,5.3,3.7,1.5,0.2,1,1,setosa
49,50,5.0,3.3,1.4,0.2,1,1,setosa
50,51,7.0,3.2,4.7,1.4,2,2,versicolor
51,52,6.4,3.2,4.5,1.5,2,2,versicolor
52,53,6.9,3.1,4.9,1.5,2,2,versicolor
53,54,5.5,2.3,4.0,1.3,2,2,versicolor
54,55,6.5,2.8,4.6,1.5,2,2,versicolor
55,56,5.7,2.8,4.5,1.3,2,2,versicolor
56,57,6.3,3.3,4.7,1.6,2,2,versicolor
57,58,4.9,2.4,3.3,1.0,2,2,versicolor
58,59,6.6,2.9,4.6,1.3,2,2,versicolor
59,60,5.2,2.7,3.9,1.4,2,2,versicolor
60,61,5.0,2.0,3.5,1.0,2,2,versicolor
61,62,5.9,3.0,4.2,1.5,2,2,versicolor
62,63,6.0,2.2,4.0,1.0,2,2,versicolor
63,64,6.1,2.9,4.7,1.4,2,2,versicolor
64,65,5.6,2.9,3.6,1.3,2,2,versicolor
65,66,6.7,3.1,4.4,1.4,2,2,versicolor
66,67,5.6,3.0,4.5,1.5,2,2,versicolor
67,68,5.8,2.7,4.1,1.0,2,2,versicolor
68,69,6.2,2.2,4.5,1.5,2,2,versicolor
69,70,5.6,2.5,3.9,1.1,2,2,versicolor
70,71,5.9,3.2,4.8,1.8,2,2,versicolor
71,72,6.1,2.8,4.0,1.3,2,2,versicolor
72,73,6.3,2.5,4.9,1.5,2,2,versicolor
73,74,6.1,2.8,4.7,1.2,2,2,versicolor
74,75,6.4,2.9,4.3,1.3,2,2,versicolor
75,76,6.6,3.0,4.4,1.4,2,2,versicolor
76,77,6.8,2.8,4.8,1.4,2,2,versicolor
77,78,6.7,3.0,5.0,1.7,2,2,versicolor
78,79,6.0,2.9,4.5,1.5,2,2,versicolor
79,80,5.7,2.6,3.5,1.0,2,2,versicolor
80,81,5.5,2.4,3.8,1.1,2,2,versicolor
81,82,5.5,2.4,3.7,1.0,2,2,versicolor
82,83,5.8,2.7,3.9,1.2,2,2,versicolor
83,84,6.0,2.7,5.1,1.6,2,2,versicolor
84,85,5.4,3.0,4.5,1.5,2,2,versicolor
85,86,6.0,3.4,4.5,1.6,2,2,versicolor
86,87,6.7,3.1,4.7,1.5,2,2,versicolor
87,88,6.3,2.3,4.4,1.3,2,2,versicolor
88,89,5.6,3.0,4.1,1.3,2,2,versicolor
89,90,5.5,2.5,4.0,1.3,2,2,versicolor
90,91,5.5,2.6,4.4,1.2,2,2,versicolor
91,92,6.1,3.0,4.6,1.4,2,2,versicolor
92,93,5.8,2.6,4.0,1.2,2,2,versicolor
93,94,5.0,2.3,3.3,1.0,2,2,versicolor
94,95,5.6,2.7,4.2,1.3,2,2,versicolor
95,96,5.7,3.0,4.2,1.2,2,2,versicolor
96,97,5.7,2.9,4.2,1.3,2,2,versicolor
97,98,6.2,2.9,4.3,1.3,2,2,versicolor
98,99,5.1,2.5,3.0,1.1,2,2,versicolor
99,100,5.7,2.8,4.1,1.3,2,2,versicolor
100,101,6.3,3.3,6.0,2.5,3,3,virginica
101,102,5.8,2.7,5.1,1.9,3,3,virginica
102,103,7.1,3.0,5.9,2.1,3,3,virginica
103,104,6.3,2.9,5.6,1.8,3,3,virginica
104,105,6.5,3.0,5.8,2.2,3,3,virginica
105,106,7.6,3.0,6.6,2.1,3,3,virginica
106,107,4.9,2.5,4.5,1.7,3,3,virginica
107,108,7.3,2.9,6.3,1.8,3,3,virginica
108,109,6.7,2.5,5.8,1.8,3,3,virginica
109,110,7.2,3.6,6.1,2.5,3,3,virginica
110,111,6.5,3.2,5.1,2.0,3,3,virginica
111,112,6.4,2.7,5.3,1.9,3,3,virginica
112,113,6.8,3.0,5.5,2.1,3,3,virginica
113,114,5.7,2.5,5.0,2.0,3,3,virginica
114,115,5.8,2.8,5.1,2.4,3,3,virginica
115,116,6.4,3.2,5.3,2.3,3,3,virginica
116,117,6.5,3.0,5.5,1.8,3,3,virginica
117,118,7.7,3.8,6.7,2.2,3,3,virginica
118,119,7.7,2.6,6.9,2.3,3,3,virginica
119,120,6.0,2.2,5.0,1.5,3,3,virginica
120,121,6.9,3.2,5.7,2.3,3,3,virginica
121,122,5.6,2.8,4.9,2.0,3,3,virginica
122,123,7.7,2.8,6.7,2.0,3,3,virginica
123,124,6.3,2.7,4.9,1.8,3,3,virginica
124,125,6.7,3.3,5.7,2.1,3,3,virginica
125,126,7.2,3.2,6.0,1.8,3,3,virginica
126,127,6.2,2.8,4.8,1.8,3,3,virginica
127,128,6.1,3.0,4.9,1.8,3,3,virginica
128,129,6.4,2.8,5.6,2.1,3,3,virginica
129,130,7.2,3.0,5.8,1.6,3,3,virginica
130,131,7.4,2.8,6.1,1.9,3,3,virginica
131,132,7.9,3.8,6.4,2.0,3,3,virginica
132,133,6.4,2.8,5.6,2.2,3,3,virginica
133,134,6.3,2.8,5.1,1.5,3,3,virginica
134,135,6.1,2.6,5.6,1.4,3,3,virginica
135,136,7.7,3.0,6.1,2.3,3,3,virginica
136,137,6.3,3.4,5.6,2.4,3,3,virginica
137,138,6.4,3.1,5.5,1.8,3,3,virginica
138,139,6.0,3.0,4.8,1.8,3,3,virginica
139,140,6.9,3.1,5.4,2.1,3,3,virginica
140,141,6.7,3.1,5.6,2.4,3,3,virginica
141,142,6.9,3.1,5.1,2.3,3,3,virginica
142,143,5.8,2.7,5.1,1.9,3,3,virginica
143,144,6.8,3.2,5.9,2.3,3,3,virginica
144,145,6.7,3.3,5.7,2.5,3,3,virginica
145,146,6.7,3.0,5.2,2.3,3,3,virginica
146,147,6.3,2.5,5.0,1.9,3,3,virginica
147,148,6.5,3.0,5.2,2.0,3,3,virginica
148,149,6.2,3.4,5.4,2.3,3,3,virginica
149,150,5.9,3.0,5.1,1.8,3,3,virginica