In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

from pydataset import data
import acquire
import prepare

In [2]:
titanic = acquire.get_titanic_data()

In [3]:
titanic

,Unnamed: 0,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,886,0,2,male,27.0,0,0,13.0000,S,Second,NaN,Southampton,1
887,887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,888,0,3,female,NaN,1,2,23.4500,S,Third,NaN,Southampton,0
889,889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,890,0,3,male,32.0,0,0,7.7500,Q,Third,NaN,Queenstown,1

In [4]:
pd.read_csv('titanic.csv')

,Unnamed: 0,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,886,0,2,male,27.0,0,0,13.0000,S,Second,NaN,Southampton,1
887,887,887,1,1,female,19.0,0,0,30.0000,S,First,B,Southampton,1
888,888,888,0,3,female,NaN,1,2,23.4500,S,Third,NaN,Southampton,0
889,889,889,1,1,male,26.0,0,0,30.0000,C,First,C,Cherbourg,1
890,890,890,0,3,male,32.0,0,0,7.7500,Q,Third,NaN,Queenstown,1

In [5]:
titanic = prepare.prep_titanic(titanic)

In [6]:
train, validate, test = prepare.titanic_split(titanic)

In [7]:
knn = KNeighborsClassifier(n_neighbors=5, weights='uniform')

In [8]:
train

,survived,sex,age,fare,class,deck,embark_town,sex_male,class_Second,class_Third,deck_B,deck_C,deck_D,deck_E,deck_F,deck_G,embark_town_Queenstown,embark_town_Southampton
700,1,female,18.00,227.5250,First,C,Cherbourg,0,0,0,0,1,0,0,0,0,0,0
772,0,female,57.00,10.5000,Second,E,Southampton,0,1,0,0,0,0,1,0,0,0,1
857,1,male,51.00,26.5500,First,E,Southampton,1,0,0,0,0,0,1,0,0,0,1
698,0,male,49.00,110.8833,First,C,Cherbourg,1,0,0,0,1,0,0,0,0,0,0
393,1,female,23.00,113.2750,First,D,Cherbourg,0,0,0,0,0,1,0,0,0,0,0
745,0,male,70.00,71.0000,First,B,Southampton,1,0,0,1,0,0,0,0,0,0,1
291,1,female,19.00,91.0792,First,B,Cherbourg,0,0,0,1,0,0,0,0,0,0,0
307,1,female,17.00,108.9000,First,C,Cherbourg,0,0,0,0,1,0,0,0,0,0,0
621,1,male,42.00,52.5542,First,D,Southampton,1,0,0,0,0,1,0,0,0,0,1
806,0,male,39.00,0.0000,First,A,Southampton,1,0,0,0,0,0,0,0,0,0,1
224,1,male,38.00,90.0000,First,C,Southampton,1,0,0,0,1,0,0,0,0,0,1
118,0,male,24.00,247.5208,First,B,Cherbourg,1,0,0,1,0,0,0,0,0,0,0
273,0,male,37.00,29.7000,First,C,Cherbourg,1,0,0,0,1,0,0,0,0,0,0
520,1,female,30.00,93.5000,First,B,Southampton,0,0,0,1,0,0,0,0,0,0,1
536,0,male,45.00,26.5500,First,B,Southampton,1,0,0,1,0,0,0,0,0,0,1
245,0,male,44.00,90.0000,First,C,Queenstown,1,0,0,0,1,0,0,0,0,1,0
712,1,male,48.00,52.0000,First,C,Southampton,1,0,0,0,1,0,0,0,0,0,1
741,0,male,36.00,78.8500,First,C,Southampton,1,0,0,0,1,0,0,0,0,0,1
377,0,male,27.00,211.5000,First,C,Cherbourg,1,0,0,0,1,0,0,0,0,0,0
332,0,male,38.00,153.4625,First,C,Southampton,1,0,0,0,1,0,0,0,0,0,1
671,0,male,31.00,52.0000,First,B,Southampton,1,0,0,1,0,0,0,0,0,0,1
512,1,male,36.00,26.2875,First,E,Southampton,1,0,0,0,0,0,1,0,0,0,1
183,1,male,1.00,39.0000,Second,F,Southampton,1,1,0,0,0,0,0,1,0,0,1
318,1,female,31.00,164.8667,First,C,Southampton,0,0,0,0,1,0,0,0,0,0,1
311,1,female,18.00,262.3750,First,B,Cherbourg,0,0,0,1,0,0,0,0,0,0,0
679,1,male,36.00,512.3292,First,B,Cherbourg,1,0,0,1,0,0,0,0,0,0,0
452,0,male,30.00,27.7500,First,C,Cherbourg,1,0,0,0,1,0,0,0,0,0,0
809,1,female,33.00,53.1000,First,E,Southampton,0,0,0,0,0,0,1,0,0,0,1
583,0,male,36.00,40.1250,First,A,Cherbourg,1,0,0,0,0,0,0,0,0,0,0
556,1,female,48.00,39.6000,First,A,Cherbourg,0,0,0,0,0,0,0,0,0,0,0
337,1,female,41.00,134.5000,First,E,Cherbourg,0,0,0,0,0,0,1,0,0,0,0
136,1,female,19.00,26.2833,First,D,Southampton,0,0,0,0,0,1,0,0,0,0,1
305,1,male,0.92,151.5500,First,C,Southampton,1,0,0,0,1,0,0,0,0,0,1
550,1,male,17.00,110.8833,First,C,Cherbourg,1,0,0,0,1,0,0,0,0,0,0
370,1,male,25.00,55.4417,First,E,Cherbourg,1,0,0,0,0,0,1,0,0,0,0
319,1,female,40.00,134.5000,First,E,Cherbourg,0,0,0,0,0,0,1,0,0,0,0
456,0,male,65.00,26.5500,First,E,Southampton,1,0,0,0,0,0,1,0,0,0,1
23,1,male,28.00,35.5000,First,A,Southampton,1,0,0,0,0,0,0,0,0,0,1
681,1,male,27.00,76.7292,First,D,Cherbourg,1,0,0,0,0,1,0,0,0,0,0
340,1,male,2.00,26.0000,Second,F,Southampton,1,1,0,0,0,0,0,1,0,0,1
820,1,female,52.00,93.5000,First,B,Southampton,0,0,0,1,0,0,0,0,0,0,1
75,0,male,25.00,7.6500,Third,F,Southampton,1,0,1,0,0,0,0,1,0,0,1
625,0,male,61.00,32.3208,First,D,Southampton,1,0,0,0,0,1,0,0,0,0,1
789,0,male,46.00,79.2000,First,B,Cherbourg,1,0,0,1,0,0,0,0,0,0,0
390,1,male,36.00,120.0000,First,B,Southampton,1,0,0,1,0,0,0,0,0,0,1
257,1,female,30.00,86.5000,First,B,Southampton,0,0,0,1,0,0,0,0,0,0,1
430,1,male,28.00,26.5500,First,C,Southampton,1,0,0,0,1,0,0,0,0,0,1
174,0,male,56.00,30.6958,First,A,Cherbourg,1,0,0,0,0,0,0,0,0,0,0
331,0,male,45.50,28.5000,First,C,Southampton,1,0,0,0,1,0,0,0,0,0,1
209,1,male,40.00,31.0000,First,A,Cherbourg,1,0,0,0,0,0,0,0,0,0,0
325,1,female,36.00,135.6333,First,C,Cherbourg,0,0,0,0,1,0,0,0,0,0,0
724,1,male,27.00,53.1000,First,E,Southampton,1,0,0,0,0,0,1,0,0,0,1
102,0,male,21.00,77.2875,First,D,Southampton,1,0,0,0,0,1,0,0,0,0,1
10,1,female,4.00,16.7000,Third,G,Southampton,0,0,1,0,0,0,0,0,1,0,1
492,0,male,55.00,30.5000,First,C,Southampton,1,0,0,0,1,0,0,0,0,0,1
751,1,male,6.00,12.4750,Third,E,Southampton,1,0,1,0,0,0,1,0,0,0,1
369,1,female,24.00,69.3000,First,B,Cherbourg,0,0,0,1,0,0,0,0,0,0,0
823,1,female,27.00,12.4750,Third,E,Southampton,0,0,1,0,0,0,1,0,0,0,1
6,0,male,54.00,51.8625,First,E,Southampton,1,0,0,0,0,0,1,0,0,0,1
429,1,male,32.00,8.0500,Third,E,Southampton,1,0,1,0,0,0,1,0,0,0,1
453,1,male,49.00,89.1042,First,C,Cherbourg,1,0,0,0,1,0,0,0,0,0,0
195,1,female,58.00,146.5208,First,B,Cherbourg,0,0,0,1,0,0,0,0,0,0,0
151,1,female,22.00,66.6000,First,C,Southampton,0,0,0,0,1,0,0,0,0,0,1
645,1,male,48.00,76.7292,First,D,Cherbourg,1,0,0,0,0,1,0,0,0,0,0
717,1,female,27.00,10.5000,Second,E,Southampton,0,1,0,0,0,0,1,0,0,0,1
879,1,female,56.00,83.1583,First,C,Cherbourg,0,0,0,0,1,0,0,0,0,0,0
1,1,female,38.00,71.2833,First,C,Cherbourg,0,0,0,0,1,0,0,0,0,0,0
872,0,male,33.00,5.0000,First,B,Southampton,1,0,0,1,0,0,0,0,0,0,1
765,1,female,51.00,77.9583,First,D,Southampton,0,0,0,0,0,1,0,0,0,0,1
484,1,male,25.00,91.0792,First,B,Cherbourg,1,0,0,1,0,0,0,0,0,0,0
297,0,female,2.00,151.5500,First,C,Southampton,0,0,0,0,1,0,0,0,0,0,1
701,1,male,35.00,26.2875,First,E,Southampton,1,0,0,0,0,0,1,0,0,0,1
438,0,male,64.00,263.0000,First,C,Southampton,1,0,0,0,1,0,0,0,0,0,1
496,1,female,54.00,78.2667,First,D,Cherbourg,0,0,0,0,0,1,0,0,0,0,0
21,1,male,34.00,13.0000,Second,D,Southampton,1,1,0,0,0,1,0,0,0,0,1
647,1,male,56.00,35.5000,First,A,Cherbourg,1,0,0,0,0,0,0,0,0,0,0
748,0,male,19.00,53.1000,First,D,Southampton,1,0,0,0,0,1,0,0,0,0,1
394,1,female,24.00,16.7000,Third,G,Southampton,0,0,1,0,0,0,0,0,1,0,1
230,1,female,35.00,83.4750,First,C,Southampton,0,0,0,0,1,0,0,0,0,0,1
540,1,female,36.00,71.0000,First,B,Southampton,0,0,0,1,0,0,0,0,0,0,1
759,1,female,33.00,86.5000,First,B,Southampton,0,0,0,1,0,0,0,0,0,0,1
887,1,female,19.00,30.0000,First,B,Southampton,0,0,0,1,0,0,0,0,0,0,1
523,1,female,44.00,57.9792,First,B,Cherbourg,0,0,0,1,0,0,0,0,0,0,0
92,0,male,46.00,61.1750,First,E,Southampton,1,0,0,0,0,0,1,0,0,0,1
867,0,male,31.00,50.4958,First,A,Southampton,1,0,0,0,0,0,0,0,0,0,1
515,0,male,47.00,34.0208,First,D,Southampton,1,0,0,0,0,1,0,0,0,0,1
309,1,female,30.00,56.9292,First,E,Cherbourg,0,0,0,0,0,0,1,0,0,0,0
460,1,male,48.00,26.5500,First,E,Southampton,1,0,0,0,0,0,1,0,0,0,1
194,1,female,44.00,27.7208,First,B,Cherbourg,0,0,0,1,0,0,0,0,0,0,0
251,0,female,29.00,10.4625,Third,G,Southampton,0,0,1,0,0,0,0,0,1,0,1
715,0,male,19.00,7.6500,Third,F,Southampton,1,0,1,0,0,0,0,1,0,0,1
366,1,female,60.00,75.2500,First,D,Cherbourg,0,0,0,0,0,1,0,0,0,0,0
487,0,male,58.00,29.7000,First,B,Cherbourg,1,0,0,1,0,0,0,0,0,0,0
148,0,male,36.50,26.0000,Second,F,Southampton,1,1,0,0,0,0,0,1,0,0,1
329,1,female,16.00,57.9792,First,B,Cherbourg,0,0,0,1,0,0,0,0,0,0,0
779,1,female,43.00,211.3375,First,B,Southampton,0,0,0,1,0,0,0,0,0,0,1
710,1,female,24.00,49.5042,First,C,Cherbourg,0,0,0,0,1,0,0,0,0,0,0
862,1,female,48.00,25.9292,First,D,Southampton,0,0,0,0,0,1,0,0,0,0,1
473,1,female,23.00,13.7917,Second,D,Cherbourg,0,1,0,0,0,1,0,0,0,0,0
632,1,male,32.00,30.5000,First,B,Cherbourg,1,0,0,1,0,0,0,0,0,0,0
435,1,female,14.00,120.0000,First,B,Southampton,0,0,0,1,0,0,0,0,0,0,1
802,1,male,11.00,120.0000,First,B,Southampton,1,0,0,1,0,0,0,0,0,0,1
659,0,male,58.00,113.2750,First,D,Cherbourg,1,0,0,0,0,1,0,0,0,0,0
218,1,female,32.00,76.2917,First,D,Cherbourg,0,0,0,0,0,1,0,0,0,0,0
577,1,female,39.00,55.9000,First,E,Southampton,0,0,0,0,0,0,1,0,0,0,1
737,1,male,35.00,512.3292,First,B,Cherbourg,1,0,0,1,0,0,0,0,0,0,0
434,0,male,50.00,55.9000,First,E,Southampton,1,0,0,0,0,0,1,0,0,0,1
782,0,male,29.00,30.0000,First,D,Southampton,1,0,0,0,0,1,0,0,0,0,1
571,1,female,53.00,51.4792,First,C,Southampton,0,0,0,0,1,0,0,0,0,0,1
412,1,female,33.00,90.0000,First,C,Queenstown,0,0,0,0,1,0,0,0,0,1,0
707,1,male,42.00,26.2875,First,E,Southampton,1,0,0,0,0,0,1,0,0,0,1
341,1,female,24.00,263.0000,First,C,Southampton,0,0,0,0,1,0,0,0,0,0,1
66,1,female,29.00,10.5000,Second,F,Southampton,0,1,0,0,0,0,0,1,0,0,1
641,1,female,24.00,69.3000,First,B,Cherbourg,0,0,0,1,0,0,0,0,0,0,0

In [9]:
train.drop(columns = ['sex', 'age', 'fare', 'class', 'deck', 'embark_town'], inplace = True)

In [10]:
train

,survived,sex_male,class_Second,class_Third,deck_B,deck_C,deck_D,deck_E,deck_F,deck_G,embark_town_Queenstown,embark_town_Southampton
700,1,0,0,0,0,1,0,0,0,0,0,0
772,0,0,1,0,0,0,0,1,0,0,0,1
857,1,1,0,0,0,0,0,1,0,0,0,1
698,0,1,0,0,0,1,0,0,0,0,0,0
393,1,0,0,0,0,0,1,0,0,0,0,0
745,0,1,0,0,1,0,0,0,0,0,0,1
291,1,0,0,0,1,0,0,0,0,0,0,0
307,1,0,0,0,0,1,0,0,0,0,0,0
621,1,1,0,0,0,0,1,0,0,0,0,1
806,0,1,0,0,0,0,0,0,0,0,0,1
224,1,1,0,0,0,1,0,0,0,0,0,1
118,0,1,0,0,1,0,0,0,0,0,0,0
273,0,1,0,0,0,1,0,0,0,0,0,0
520,1,0,0,0,1,0,0,0,0,0,0,1
536,0,1,0,0,1,0,0,0,0,0,0,1
245,0,1,0,0,0,1,0,0,0,0,1,0
712,1,1,0,0,0,1,0,0,0,0,0,1
741,0,1,0,0,0,1,0,0,0,0,0,1
377,0,1,0,0,0,1,0,0,0,0,0,0
332,0,1,0,0,0,1,0,0,0,0,0,1
671,0,1,0,0,1,0,0,0,0,0,0,1
512,1,1,0,0,0,0,0,1,0,0,0,1
183,1,1,1,0,0,0,0,0,1,0,0,1
318,1,0,0,0,0,1,0,0,0,0,0,1
311,1,0,0,0,1,0,0,0,0,0,0,0
679,1,1,0,0,1,0,0,0,0,0,0,0
452,0,1,0,0,0,1,0,0,0,0,0,0
809,1,0,0,0,0,0,0,1,0,0,0,1
583,0,1,0,0,0,0,0,0,0,0,0,0
556,1,0,0,0,0,0,0,0,0,0,0,0
337,1,0,0,0,0,0,0,1,0,0,0,0
136,1,0,0,0,0,0,1,0,0,0,0,1
305,1,1,0,0,0,1,0,0,0,0,0,1
550,1,1,0,0,0,1,0,0,0,0,0,0
370,1,1,0,0,0,0,0,1,0,0,0,0
319,1,0,0,0,0,0,0,1,0,0,0,0
456,0,1,0,0,0,0,0,1,0,0,0,1
23,1,1,0,0,0,0,0,0,0,0,0,1
681,1,1,0,0,0,0,1,0,0,0,0,0
340,1,1,1,0,0,0,0,0,1,0,0,1
820,1,0,0,0,1,0,0,0,0,0,0,1
75,0,1,0,1,0,0,0,0,1,0,0,1
625,0,1,0,0,0,0,1,0,0,0,0,1
789,0,1,0,0,1,0,0,0,0,0,0,0
390,1,1,0,0,1,0,0,0,0,0,0,1
257,1,0,0,0,1,0,0,0,0,0,0,1
430,1,1,0,0,0,1,0,0,0,0,0,1
174,0,1,0,0,0,0,0,0,0,0,0,0
331,0,1,0,0,0,1,0,0,0,0,0,1
209,1,1,0,0,0,0,0,0,0,0,0,0
325,1,0,0,0,0,1,0,0,0,0,0,0
724,1,1,0,0,0,0,0,1,0,0,0,1
102,0,1,0,0,0,0,1,0,0,0,0,1
10,1,0,0,1,0,0,0,0,0,1,0,1
492,0,1,0,0,0,1,0,0,0,0,0,1
751,1,1,0,1,0,0,0,1,0,0,0,1
369,1,0,0,0,1,0,0,0,0,0,0,0
823,1,0,0,1,0,0,0,1,0,0,0,1
6,0,1,0,0,0,0,0,1,0,0,0,1
429,1,1,0,1,0,0,0,1,0,0,0,1
453,1,1,0,0,0,1,0,0,0,0,0,0
195,1,0,0,0,1,0,0,0,0,0,0,0
151,1,0,0,0,0,1,0,0,0,0,0,1
645,1,1,0,0,0,0,1,0,0,0,0,0
717,1,0,1,0,0,0,0,1,0,0,0,1
879,1,0,0,0,0,1,0,0,0,0,0,0
1,1,0,0,0,0,1,0,0,0,0,0,0
872,0,1,0,0,1,0,0,0,0,0,0,1
765,1,0,0,0,0,0,1,0,0,0,0,1
484,1,1,0,0,1,0,0,0,0,0,0,0
297,0,0,0,0,0,1,0,0,0,0,0,1
701,1,1,0,0,0,0,0,1,0,0,0,1
438,0,1,0,0,0,1,0,0,0,0,0,1
496,1,0,0,0,0,0,1,0,0,0,0,0
21,1,1,1,0,0,0,1,0,0,0,0,1
647,1,1,0,0,0,0,0,0,0,0,0,0
748,0,1,0,0,0,0,1,0,0,0,0,1
394,1,0,0,1,0,0,0,0,0,1,0,1
230,1,0,0,0,0,1,0,0,0,0,0,1
540,1,0,0,0,1,0,0,0,0,0,0,1
759,1,0,0,0,1,0,0,0,0,0,0,1
887,1,0,0,0,1,0,0,0,0,0,0,1
523,1,0,0,0,1,0,0,0,0,0,0,0
92,0,1,0,0,0,0,0,1,0,0,0,1
867,0,1,0,0,0,0,0,0,0,0,0,1
515,0,1,0,0,0,0,1,0,0,0,0,1
309,1,0,0,0,0,0,0,1,0,0,0,0
460,1,1,0,0,0,0,0,1,0,0,0,1
194,1,0,0,0,1,0,0,0,0,0,0,0
251,0,0,0,1,0,0,0,0,0,1,0,1
715,0,1,0,1,0,0,0,0,1,0,0,1
366,1,0,0,0,0,0,1,0,0,0,0,0
487,0,1,0,0,1,0,0,0,0,0,0,0
148,0,1,1,0,0,0,0,0,1,0,0,1
329,1,0,0,0,1,0,0,0,0,0,0,0
779,1,0,0,0,1,0,0,0,0,0,0,1
710,1,0,0,0,0,1,0,0,0,0,0,0
862,1,0,0,0,0,0,1,0,0,0,0,1
473,1,0,1,0,0,0,1,0,0,0,0,0
632,1,1,0,0,1,0,0,0,0,0,0,0
435,1,0,0,0,1,0,0,0,0,0,0,1
802,1,1,0,0,1,0,0,0,0,0,0,1
659,0,1,0,0,0,0,1,0,0,0,0,0
218,1,0,0,0,0,0,1,0,0,0,0,0
577,1,0,0,0,0,0,0,1,0,0,0,1
737,1,1,0,0,1,0,0,0,0,0,0,0
434,0,1,0,0,0,0,0,1,0,0,0,1
782,0,1,0,0,0,0,1,0,0,0,0,1
571,1,0,0,0,0,1,0,0,0,0,0,1
412,1,0,0,0,0,1,0,0,0,0,1,0
707,1,1,0,0,0,0,0,1,0,0,0,1
341,1,0,0,0,0,1,0,0,0,0,0,1
66,1,0,1,0,0,0,0,0,1,0,0,1
641,1,0,0,0,1,0,0,0,0,0,0,0

In [12]:
X_train = train.drop(columns=['survived'])
y_train = train.survived

X_validate = validate.drop(columns=['survived'])
y_validate = validate.survived

X_test = test.drop(columns=['survived'])
y_test = test.survived

In [13]:
knn.fit(X_train, y_train)

KNeighborsClassifier()

In [14]:
y_pred = knn.predict(X_train)

In [15]:
y_pred_proba = knn.predict_proba(X_train)

In [16]:
print('Accuracy of KNN classifier on training set: {:.2f}'
     .format(knn.score(X_train, y_train)))

Accuracy of KNN classifier on training set: 0.76

In [17]:
print(confusion_matrix(y_train, y_pred))

[[23 14]
 [13 64]]

In [18]:
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           0       0.64      0.62      0.63        37
           1       0.82      0.83      0.83        77

    accuracy                           0.76       114
   macro avg       0.73      0.73      0.73       114
weighted avg       0.76      0.76      0.76       114

accuracy: .76
true pos = 23
true neg = 64
false pos = 14
false neg 13
precision 0.64/0.82
recall 0.62/0.83
f-1 score: .63/.83
support 37/77

In [20]:
knn = KNeighborsClassifier(n_neighbors=10, weights='uniform')

In [21]:
knn.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=10)

In [22]:
y_pred = knn.predict(X_train)

In [23]:
y_pred_proba = knn.predict_proba(X_train)

In [24]:
print('Accuracy of KNN classifier on training set: {:.2f}'
     .format(knn.score(X_train, y_train)))

Accuracy of KNN classifier on training set: 0.74

In [25]:
print(confusion_matrix(y_train, y_pred))

[[18 19]
 [11 66]]

In [26]:
print(classification_report(y_train, y_pred))

              precision    recall  f1-score   support

           0       0.62      0.49      0.55        37
           1       0.78      0.86      0.81        77

    accuracy                           0.74       114
   macro avg       0.70      0.67      0.68       114
weighted avg       0.73      0.74      0.73       114

In [27]:
knn = KNeighborsClassifier(n_neighbors=20, weights='uniform')

In [28]:
y_pred = knn.predict(X_train)

NotFittedError: This KNeighborsClassifier instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.